<ion-app>
  <ion-content>
    <ion-grid class="vertical-align-content">
      <form #form="ngForm" (ngSubmit)="login(form)" method="post">
        <ion-row>
          <ion-col size="2" offset=""></ion-col>
          <ion-col class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input
                ngModel
                type="text"
                name="username"
                required="true"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2" offset=""></ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2" offset=""></ion-col>
          <ion-col class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                ngModel
                type="password"
                name="password"
                required="true"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2" offset=""></ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2" offset=""></ion-col>
          <ion-col class="ion-align-self-center">
            <ion-button type="submit" expand="full" color="success">
              Login
            </ion-button>
          </ion-col>
          <ion-col size="2" offset=""></ion-col>
        </ion-row>
      </form>

      <ion-row>
        <ion-col size="2" offset=""></ion-col>
        <ion-col class="ion-text-center">
          <p text-center>Don't have a account?</p>
        </ion-col>
        <ion-col size="2" offset=""></ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2" offset=""></ion-col>
        <ion-col class="ion-align-self-center">
          <ion-button
            expand="full"
            color="primary"
            [routerLink]="['/register']"
            routerLinkActive="router-link-active"
          >
            Register
          </ion-button>
        </ion-col>
        <ion-col size="2" offset=""></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
