<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-avatar
      slot="start"
      style="
        width: 30px !important;
        height: 30px !important;
        margin-left: 10px !important;
      "
    >
      <img *ngIf="userData" src="{{userData['dp_url']}}" />
    </ion-avatar>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-text>
      <h5 class="no-notif-style">No Notifications.</h5>
    </ion-text>
  </ion-content>
</ion-content>
